version: "3.9"

services:
  web:
    build: .
    container_name: bookstore_web
    command: >
      sh -c "./wait-for-it.sh db:5432 --timeout=30 --strict -- 
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./order:/app/order
      - ./product:/app/product
      - ./book:/app/book
      - ./manage.py:/app/manage.py
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: bookstore_db
    environment:
      POSTGRES_DB: bookstore
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
