name: Django CI

on:
  pull_request:
  push:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Instalar Poetry
        run: |
          pip install poetry
          poetry config virtualenvs.create false

      - name: Instalar dependências
        run: poetry install --no-interaction --no-ansi

      - name: Criar arquivo .env
        run: cp .env.example .env

      - name: Rodar migrations
        run: python manage.py migrate

      - name: Verificar Django
        run: python manage.py check
