name: Django CI

on:
  pull_request:
  push:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Instalar Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry --version

      - name: Instalar dependências com Poetry
        run: |
          poetry config virtualenvs.create false
          poetry install --no-interaction --no-ansi

      - name: Criar .env
        run: cp .env.example .env

      - name: Rodar migrations (SQLite)
        env:
          USE_SQLITE: "true"
        run: python manage.py migrate

      - name: Verificar Django
        env:
          USE_SQLITE: "true"
        run: python manage.py check
