name: Pipeline

on:
  pull_request:
  push:

jobs:
  pipeline:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Poetry
        run: pip install poetry

      - name: Install deps
        run: poetry install --no-root

      - name: Create env
        run: |
          echo "DEBUG=True" >> .env
          echo "SECRET_KEY=ci-secret" >> .env
          echo "USE_SQLITE=true" >> .env

      - name: Run Django checks
        env:
          DJANGO_SETTINGS_MODULE: book.settings
          USE_SQLITE: "True"
        run: poetry run python manage.py check


      - name: Migrate
        run: poetry run python manage.py migrate
